<html lang="en">
   {{> components/head style="../auth/authStyle.scss" titlePage="Login" }}
  <body>
    <div class="container__form_login">
        {{> auth/components/form-login }}    
    </div>
  </body>
</html>