<html lang="en">
   {{> components/head style="../auth/Auth.scss" titlePage="Registration" }}
  <body>
    <div class="container__form_reg">
        {{> auth/components/form-reg }}    
    </div>
  </body>
</html>