<div class="all-chats__all-message">
    <ul class="all-chats__each-message_list">
        <li class="all-chats__each-message_message">
            <div class="all-chats__each-message_message_name">
                Ivan
            </div>
            <div class="all-chats__each-message_message_lastmessage">
                Привет
            </div>
        </li>
        <li class="all-chats__each-message_message">
            <div class="all-chats__each-message_message_name">
                vitek
            </div>
            <div class="all-chats__each-message_message_lastmessage">
                Сообщение
            </div>
        </li>
        <li class="all-chats__each-message_message">
            <div class="all-chats__each-message_message_name">
                Nik
            </div>
            <div class="all-chats__each-message_message_lastmessage">
                Письмо
            </div>
        </li>
        <li class="all-chats__each-message_message">
            <div class="all-chats__each-message_message_name">
                olga44
            </div>
            <div class="all-chats__each-message_message_lastmessage">
                Новость
            </div>
        </li>
    </ul>
</div>