<div class="all-chats__header">
    <div class="all-chats__header__go-to-profile"><a class="link-enter" href="../profile/profile.hbs">Go to Profile</a></div>
    <div class="all-chats__header__search">
        <input class="all-chats__search" type="text" name="search" id="search" placeholder="Search">
    </div>
</div>