<div class="chat_info"><h2>Ivan</h2></div>
<div class="chat_message">
        <div class="chat_message_list_user"> HI</div>
        <div class="chat_message_list_addresser"> Hello</div>
        <div class="chat_message_list_user"> !!</div>
        <div class="chat_message_list_addresser"> Mew</div>
        <div class="chat_message_list_addresser"> Текст Текст Текст Текст</div>
</div>