<div class="chat_new-message_form">
    <input class="chat_new-message_input" type="text" name="message" id="message" placeholder="New message">
    <button class="chat_new-message_button">Sent</button>
</div