<html lang="en">
  {{> components/head style="../profile/profile.scss" titlePage="Profile" }}
  <body>
    <div class="container">
      <form class="container__info_about-user">
        {{> profile/components/inputNoValue inputName="oldPassword" inputType="password" inputText="Old password:" }}
        {{> profile/components/inputNoValue inputName="newPassword" inputType="password" inputText="New password:" }}
        {{> profile/components/inputNoValue inputName="newPassword2" inputType="password" inputText="Repeat new password:" }}
        {{> profile/components/buttonSave }}
        <br>
        <a href="./profile.hbs" class="link-enter">Go to Profil</a>
      </form>
    </div>
  </body>
</html>