<html lang="en">
  {{> components/head style="../profile/profile.scss" titlePage="Profile" }}
  <body>
    <div class="container">
      {{> profile/components/profileInfo }}
    </div>
  </body>
</html>