<div class="container_erorr__picture">
    <img class="error-picture"
    src={{ erorrPic }}>
</div>
<div class="container_error_number">
    <h1>{{ erorrNumber }}</h1>
    <h1>{{ erorrText }}</h1>
</div>