<form class="login-form">
    <h1 class="login-form__name">Well met!</h1>
    <div class="login-form__login-input">
        <label for="login">Login: </label>
        <input type="text" name="login" id="login" required>
    </div>
    <div class="login-form__password-input">
        <label for="password">Password: </label>
        <input type="password" name="password" id="password" required>
    </div>
    <div class="login-form__buttons">
        <button class="login-form__submit button" type="submit">
            <span class="button__text">Sign in</span>
        </button>
        <br>
        <a href="./registration.hbs" class="link-enter">Registration</a>
    </div>
</form> 