<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="./pages/styles/index.scss"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Links</title>
</head>
<body>
     <div>Links</div>
     <br>
    <a href="./pages/auth/login.hbs">Login</a>
    <a href="./pages/auth/registration.hbs">Registration</a>
    <a href="./pages/erorr/404.hbs">404</a>
    <a href="./pages/erorr/500.hbs">500</a>
    <a href="./pages/chats/chats.hbs">Chat</a>
    <a href="./pages/profile/profile.hbs">Profile</a>
    <a href="./pages/profile/profileChangePassword.hbs">Change Password</a>
    <a href="./pages/profile/profileChangeInfo.hbs">Change Information</a>

</body>
</html>